.spyproject/**
**/__pycache__/**
**/old*/**
**/*.dll
**/~$*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.lof
**/*.lot
**/*.toc
**/*.synctex.gz
**/*.pdf
**/MATLAB_REFERENCE/**
**/_autosummary/**
doc/**
test_scripts/**
src/sdynpy.egg-info/**
report.xml
.coverage
docs/build/**
build/**
dist/**
reports/**
**/.ipynb_checkpoints/**